.profile-card {
    float: left;
    background-color: none;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid rebeccapurple;
    width: 150px;
    height: 200px;
}

.profile-card__image {
    max-width: 100%;
    border-radius: 50%;
    padding: 5px;
}

.profile-card__content {
    padding: 5px;
}