.navbar {
    width: 100%;
}
ul {
    overflow: hidden;
    background-color: black;
}
ul li {
    float: left;
}
ul button {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: white;
    background-color: rebeccapurple;
}